// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) Christian Hewitt <christianshewitt@gmail.com>
 */

/dts-v1/;

#include "meson-gxl-s905d.dtsi"
#include "meson-gx-p23x-q20x.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	compatible = "smartlabs,sml5442tw", "amlogic,s905d", "amlogic,meson-gxl";
	model = "SmartLabs SML-5442TW";

	soc {
		demux: demux {
			compatible = "amlogic, dmx";
			interrupts = <GIC_SPI 23 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 5  IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 53 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 19 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 25 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "demux0_irq", "demux1_irq",
					  "demux2_irq", "dvr0_irq",
					  "dvr1_irq";
		};
	};

	dvb-demux {
		compatible = "amlogic,dvb-demux";
		reg = <0x0 0xc1105800 0x0 0x2000 0x0 0xc1108c40 0x0 0x100>;

		status = "okay";
		ts1 = "serial";
		ts1_control = <0x800>;
		ts1_invert = <0x0>;
		pinctrl-names = "s_ts1";
		pinctrl-0 = <&dvb_s_ts1_pins>;
		dmx = <&demux>;

		clocks = <&clkc CLKID_DEMUX
			  &clkc CLKID_ASYNC_FIFO
			  &clkc CLKID_AHB_ARB0
			  &clkc CLKID_HIU_IFACE>;
		clock-names = "demux", "asyncfifo",
			      "ahbarb0", "uparsertop";

		resets = <&reset RESET_DEMUX>,
			 <&reset RESET_DEMUX_DES>,
			 <&reset RESET_DEMUX_RESET_0>,
			 <&reset RESET_DEMUX_RESET_1>,
			 <&reset RESET_DEMUX_RESET_2>,
			 <&reset RESET_PERIPHS_ASYNC_0>,
			 <&reset RESET_PERIPHS_ASYNC_1>;
		reset-names = "demux_rst", "des_rst", "demux0_rst",
			      "demux1_rst", "demux2_rst",
			      "async0_rst", "async1_rst";

		dvb_t: frontend@0 {
			compatible = "smartlabs,avl6762";
			i2c-bus = <&i2c_A>;
			fec-reset-gpios = <&gpio GPIOZ_5 GPIO_ACTIVE_HIGH>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-yellow {
			color = <LED_COLOR_ID_YELLOW>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-blue {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio GPIODV_28 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-green {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led-red {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio GPIODV_27 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

&ethmac {
	status = "okay";
	phy-mode = "rmii";
	phy-handle = <&internal_phy>;
};

&i2c_A {
	status = "okay";
	pinctrl-0 = <&i2c_a_pins>;
	pinctrl-names = "default";
};

&internal_phy {
	pinctrl-0 = <&eth_link_led_pins>, <&eth_act_led_pins>;
	pinctrl-names = "default";
};

&ir {
        linux,rc-map-name = "rc-khamsin";
};

/* This is connected to the Bluetooth module: */
&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "qcom,qca9377-bt";
		enable-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
	};
};
