config DVB_MESON
	tristate "Amlogic DVB demux driver"
	depends on ARCH_MESON || COMPILE_TEST
	select DVB_CXD2841ER if MEDIA_SUBDRV_AUTOSELECT
	select DVB_MN88436 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_AVL6211 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_ASCOT3 if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_MXL603 if MEDIA_SUBDRV_AUTOSELECT
	help
	  This is a DVB demux driver for Amlogic.

